*
scripts/.snakemake*
!genome
!scripts
!scripts/*
!scripts
!Snakefile
!config.yaml
!samples.txt
!envs
!envs/*
!env.yaml
!qc
!README.md
!reads
!results
!rules
!rules/*
!report.html
!.gitignore
.Rproj.user
